/DBW-Application/database/
/DBW-Application/intern/
/DBW-Application/log/
/DBW-Application/resources/
/DBW-Application/Preferences.properties
/DBW-Application/target/
/DBW-Base-Component-Api/target/
/DBW-Base-Component-Impl/target/
/DBW-Base-Jobs-Impl/target/
/DBW-Base-Provider/target/
/DBW-Core-Configuration-Api/target/
/DBW-Core-Sql-Provider/target/
/DBW-Dialog-Impl/target/
/DBW-Dialog-Provider/target/
/DBW-Feature-Provider/target/
/DBW-File-Dream-Api/target/
/DBW-File-Dream-Impl/target/
/DBW-File-Provider/target/
/DBW-File-Reflection-Api/target/
/DBW-File-Reflection-Impl/target/
/DBW-File-TipOfTheNight-Impl/target/
/DBW-File-TipOfTheNight-Api/target/
/DBW-Navigation-DreamBook-Impl/target/
/DBW-Navigation-DreamBook-Api/target/
/DBW-Navigation-History-Api/target/
/DBW-Navigation-History-Impl/target/
/DBW-Navigation-Search-Api/target/
/DBW-Navigation-Search-Impl/target/
/DBW-Navigation-Provider/target/
/DBW-Util-Api/target/
/DBW-Util-Impl/target/
/DBW-Util-Provider/target/
/DBW-Feature-Voting-Api/target/
/DBW-Feature-Voting-Impl/target/
/DBW-Feature-Tag-Api/target/
/DBW-Feature-Tag-Impl/target/
/DBW-File-Dreammap-Api/target/
/DBW-File-Dreammap-Impl/target/
/DBW-Navigation-Voting-Api/target/
/DBW-Navigation-Voting-Impl/target/
/DBW-Exercise-Provider/target/